.rentpagestates{
    background: lightblue;
    padding: 40px;
    // store names in class as state and name={this.state.name}
    color: red;
    font-size: 23px;
    margin: 5px;
}

.rent-title{
    text-align: center;
}

.rent-img{
    margin-left: 80px;
}